<script setup lang="ts"></script>

<template>
  <div class="res-logo">
    <button>Customer</button>
  </div>
</template>

<style scoped>
.res-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  width: 100%;
  background-color: #af6a4c;
  font-weight: bold;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>
