<script setup lang="ts"></script>

<template>
  <div class="form">
    <form action="#">
      <h1 class="lett">Login</h1>
      <label class="lett" for="username">Username</label>
      <input type="text" id="username" />

      <label class="lett" for="password">Password</label>
      <input type="password" id="password" />

      <input class="lett" type="submit" value="Submit" />
      <input class="lett" type="reset" value="Reset" />
    </form>
  </div>
</template>

<style scoped>
form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lett {
  text-align: center;
  font-weight: bold;
  color: #af6a4c;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
  width: 48%;
  background-color: #af6a4c;
  color: white;
  padding: 14px 20px;
  margin: 8px 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #bc775a;
}
</style>
