<script setup lang="ts"></script>

<template>
  <div class="res-logo">
    <img src="../assets/image/restuarant3-rm.png" alt="restaurant logo" /><br />
    <button @click="redirectChooseMenu()">Customer</button>
    <button @click="redirectLogin()">Personnel</button>
  </div>
</template>

<script>
export default {
  methods: {
    redirectChooseMenu() {
      this.$router.push("/customer");
    },
    redirectLogin() {
      this.$router.push("/personnel");
    },
  },
};
</script>

<style scoped>
.res-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  width: 100%;
  background-color: #af6a4c;
  font-weight: bold;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>
